<h2>Cómo comprar</h2>
<h3>Compra inmediata</h3>
<p>Tenemos en stock los productos publicados en la página. Podés comprarlos haciendo click en el botón Comprar o agregándolos al carrito y luego haciendo clic en Comprar.</p>
<p>En cualquiera de los casos, se abrirá WhatsApp y te atenderemos en forma personalizada. Ningún bot por ahora.</p>

<h3>Por pedido</h3>
<p>Si querés algún producto de Natura que no está listado podes comprarlo eligiéndolo de la <a href="{{magazineLink}}" target="_blank" class="link">Revista Natura</a> y escribiéndonos al <a class="link" href="{{waLink}}" target="_blank">{{phoneNumberHumanReadable}}</a></p>
